/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body, html {
	height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #ffffff;
}
i {
  font-style: italic;
}
b, strong{
  font-weight: bold;
}
button {
  border: none;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/fontawesome-webfont.eot?iefix') format('eot'),
	url('../fonts/fontawesome-webfont.woff') format('woff'),
	url('../fonts/fontawesome-webfont.ttf') format('truetype'),
	url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg');
  	font-weight: normal;
  	font-style: normal;	
}
/*openlayers style*/
.ol-unsupported {
  display: none;
}
.ol-viewport .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ol-control {
  position: absolute;
  border-radius: 4px;
  background-color: #fff;  
  box-shadow: 0 2px 5px rgba(0,0,0,0.45);  
}
.no-boxshadow .ol-control {
  border: 1px solid #C5C5C5;
}
.ol-control:hover {
  background-color: rgba(255,255,255,0.6);
}
.ol-zoom {
  top: .5em;
  left: .5em;
}
.ol-full-screen {
  left: .5em;
  top: 5em;
}
@media print {
  .ol-zoom,
  .ol-full-screen {
    display: none;
  }
}
.ol-control button {
  border-radius: 4px;  
  font-family: 'FontAwesome';
  display: block;
  padding: 0;
  color: #424242;
  color: rgba(66,66,66,1.0);
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  height: 2em;
  width: 2em;
  line-height: 1em;
  background-color: white;
  border: none;
}
.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.ol-control button:hover,
.ol-control button:focus {
  color: #EEEEEE;
  text-decoration: none;
  background-color: #424242;
}
button.ol-zoom-in {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #C5C5C5 !important;
}
button.ol-zoom-out {
  border-radius: 0 0 4px 4px;
}
button.ol-zoom-in:after{   
  content: '\f067';
  font-size: 0.75em;
}
button.ol-zoom-out:after{  
  content: '\f068';
  font-size: 0.75em;  
}
button.ol-full-screen-false:after {
  content: "\f065";
}
button.ol-full-screen-true:after {
  content: "\f066";
}
/* invisible but not hidden */
.ol-has-tooltip [role=tooltip] {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* < IE8 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  font-weight: normal;
  font-size: 14px;
  text-shadow: 0 0 2px #fff;
}
.ol-attribution,
.ol-has-tooltip [role=tooltip] {
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}
.ol-attribution {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
  padding: 6px;
  color: #000000;
  color: rgba(238,238,238,1);
  background: rgba(66,66,66,0.4);
}
.ol-attribution {
  text-align: right;
  bottom: .5em;
  right: .5em;
}

.ol-attribution ul {
  margin: 0;
  padding: 0 .5em;
  font-size: .7rem;
  line-height: 1.375em;
  color: #000;
  text-shadow: 0 0 2px #fff;
}
.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}
.ol-attribution li:not(:last-child):after {
  content: " ";
}
.ol-attribution img {
  max-height: 2em;
}
.ol-attribution ul, .ol-attribution button {
  display: inline-block;
}
.ol-attribution button {
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.ol-attribution:not(.ol-collapsed) button:hover [role=tooltip],
.ol-attribution.ol-collapsed ul {
  display: none;
}
.ol-attribution.ol-logo-only ul {
  display: block;
}
.ol-attribution:not(.ol-collapsed) {
  background: rgba(255,255,255,0.8);
}
.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  height: 1.1em;
  line-height: 1em;
}
.ol-attribution.ol-logo-only {
  background: transparent;
  bottom: .4em;
  height: 1.1em;
  line-height: 1em;
}
.ol-attribution.ol-uncollapsible img {
  margin-top: -.2em;
  max-height: 1.6em;
}
.ol-attribution.ol-logo-only button,
.ol-attribution.ol-uncollapsible button {
  display: none;
}
/*workaround to remove ol logo until class for the logo*/
.ol-attribution img {
  display: none;
}
/*end openlayers style*/

#app-wrapper {
	height: 100%;
	overflow: hidden;
	position: relative;
}
#wrapper {
	height: 100%;
	position: relative;	
}
#map {
	height:100%;
}
.mdk-button {
  position: absolute;
  border-radius: 4px;
  background-color: #fff;  
  box-shadow: 0 2px 5px rgba(0,0,0,0.45);  
}
.no-boxshadow .mdk-button {
  border: 1px solid #A6A6A6;
}
.mdk-button:hover {
  background-color: rgba(255,255,255,0.6);
}
.mdk-button button {
  border-radius: 4px;
  display: inline-block; 
  font-family: 'FontAwesome';  
  padding: 0;
  color: #424242;
  color: rgba(66,66,66,1.0);
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  height: 2em;
  width: 2em;
  line-height: 1em;
  background-color: white;
  border: none;
}
.mdk-button button:hover,
.mdk-button button:focus {
  color: #EEEEEE;
  text-decoration: none;
  background-color: #424242;
}
#mapmenu-button {
  right: .5em;
  top: .5em;
  z-index: 5;
}
/*remove the boxshadow when selected*/
#mapmenu-button.mdk-button {
  box-shadow: none;
}
.mdk-button .mapmenu-button-true {
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 2px 5px rgba(0,0,0,0.45);
}
.mdk-button .mapmenu-button-false {
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  box-shadow: none;
}
.no-boxshadow #mapmenu-button.mdk-button {
  border: none;
}
.no-boxshadow .mdk-button .mapmenu-button-true {
  border: 1px solid #C5C5C5;
}
/**/
#window-button {
  left: .5em;
  top: 5em;
  z-index: 5;   
}
button.mapmenu-button-true:after {
  font-size: 1.3em;
  line-height: 1.3em;
  content: "\f0c9";
}
button.mapmenu-button-false:after {
  font-size: 1.3em;
  line-height: 1.3em;  
  content: "\f0c9";
}
button.window-button:after {
  font-size: 1.2em;
  content: "\f08e";
  line-height: 1.2em;
  vertical-align: middle;
}
#mapmenu {
  background-color: #FFF;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0 0 5px rgba(0,0,0,0.45);	
	height: 100%;
	position: absolute;
	right: -250px;
	top: 0px;
	width: 250px;
	z-index: 4;
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-ms-transition: .3s ease all;
	-webkit-transition: .3s ease all;	
	transition: .3s ease all;	
}
.no-boxshadow #mapmenu {
  border-left: 1px solid #C5C5C5;
}
#mapmenu.mapmenu-show {
	-ms-transform: translateX(-250px);
	-webkit-transform: translateX(-250px);
	transform: translateX(-250px);
}
.no-csstransforms #mapmenu.mapmenu-show {
  right: 0;
}
li {
	/*border-bottom: 1px solid #C5C5C5;*/
}
#menutools li:first-child {
	height: 2.8em;
}
.mapmenu-open {
	display: inline-block;
}
.mapmenu-false {
	display: none;
}
li .menu-button {
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0 5px; 
  text-decoration: none;
  text-align: left;
  width: 100%;
  height: 1.5em;
  border: none;
  vertical-align: middle;
}
li .menu-button:hover {	
  background-color: #EEEEEE;
}
.menu-button .button-icon {
  display: inline;
  float: left;
  padding: 0 4px;
/*  width: 1.375em; */	
}
.menu-button .button-icon:after {
  width: 1.5em;
  font-size: 1em; 
  height: 1.5em;
  vertical-align: middle;
}
.menu-button .share-icon:after {
  content: "\f045";
  font-family: 'FontAwesome';
}
.hidden {
  display: none;
}
/*modal widget*/
#modal {
  font-size: 1em;
  line-height: 1.42857143;   
}
.modal-screen {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.modal {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px 1px rgba(0,0,0,0.45);
  font-family: Arial,sans-serif; 
  left: 50%;
  -ms-transform: translate(-50%, -50%);   
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  width: 300px;
  z-index: 11;
}
.no-csstransforms .modal {
  margin-left: -150px;
  margin-top: -50px;
}
.modal-title {
  background-color: #F7F7F7;
  border-bottom: 1px solid #EBEBEB;
  border-radius: 6px 6px 0 0; 
  font-size: 1em;
  padding: 10px;
}
.modal-content {
  font-size: 0.9em;
  line-height: 1.1em;
  padding: 10px 15px;
}
.modal-content .share-link {
  padding: 10px 5px;
}
.modal-footer {
  
}

/*popup widget*/
#popup {
  font-size: 0.875em;
  line-height: 1.42857143;  
  position: absolute;
  width: 270px;
}
.popup a:active,
.popover a:hover {
  outline: 0;
}
.popup a {
  color: #428bca;
  text-decoration: none;
}
.popup a:hover,
.popup a:focus {
  color: #2a6496;
  text-decoration: underline;
}
.popup {
  position: absolute;
  display: none;
  bottom: 12px;
  left: -50%;
  width: 100%;
  z-index: 1010;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popup:before, .popup:after {
  display: block;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
  bottom: -20px;
}
.popup:before {
  border-top-color: #999999;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
  bottom: -22px;
}
.popup-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popup-content {
  padding: 9px 14px;
  width: 90%;  
}
/*generic close button*/
.close-button {
  color: #A6A6A6;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 5px; 
  width: 1em;
  font-size: 1.3em; 
}
.close-button:hover {
  color: #636363;
  cursor: pointer;  
}
.close-button:after {
  content: "\00d7";
  font-family: 'FontAwesome';
}
/*share map module*/
.share-link input[type=text] {
  border: 1px solid #B3B3B3;
  color:#007AFF;
  margin: 0 -8px;
  padding: 5px;
  width: 100%;
}
li .legend-item {
  cursor: pointer;
  font-family: Arial,sans-serif;
  font-size: 0.9em;	
  line-height: 1em;
  padding: 5px;
}
li .legend-item:hover {
  background-color: #EEEEEE;
}
.checkbox {
  display: inline;
  float: left;
  padding: 0 4px;
/*  width: 1.375em; */	
}
.checkbox:after {
  font-family: 'FontAwesome';  	
  font-size: 0.9em; 
  height: 1.3em;
  vertical-align: middle;
  width: 1.5em;
}
.checkbox-true:after {
  content: "\f046";
}
.checkbox-false:after {
  content: "\f096";
}
.menu-item-divider {
  border-bottom: 1px solid #C5C5C5;
  margin: 0.5em 0em;
}
.menu-item-empty {
  margin: 0.8em 0;
}
@media screen and (max-width: 768px) {
.modal {
  max-width: 300px;
  width: 90%;  
}
@media screen and (max-width: 320px) { 
#mapmenu {
  width: 100%;
  right: -320px;  
}
#mapmenu.mapmenu-show {
  -ms-transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
  transform: translateX(-320px);
}

#popup {
  width: 240px;
}

}
@media screen and (max-width: 240px) {

#popup {
  width: 200px;
}
}